*{
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* .flexbox{
    display: flex;
} */

ul {
    list-style: none;
}

/*-------------------Global classes------------------------*/
.nav {
    background: white;
    padding: 0 2rem;
    height: 0rem;
    min-height: 10vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    background-color: rgba(134, 253, 192, 0.9);
}

.nav .nav-menu {
    justify-content: space-between;
}

.nav .nav-brand a {
    font-size: 1.9rem;
    padding: 1rem 0;
    display: block;
    letter-spacing: 0.2rem;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, red, orange, green, #00ddff, #ff00d4, purple);
    -webkit-background-clip: text;
    text-transform: uppercase;
}

.nav .nav-items {
    display: flex;
    margin: 0;
}

.nav .nav-items .nav-link {
    padding: 1.6rem 1rem;
}

.nav .nav-items .nav-link a {
    color: white;
    font-size: 1.2rem;
}

.nav .nav-items .nav-link:hover {
    background-color: teal;
}

.nav .nav-items .nav-link:hover a {
    color: white !important;
}

.nav-link a {
    color: teal !important;
}

.nav .social {
    padding: 1.4rem 0;
}

.nav .social i {
    padding: 0 1rem;
    font-size: 1.4rem;
    color: teal;
}

body{
    background-image: url("../Images/picture1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: auto;
}

.sign-cover{
    width: 100%;
}


.sign-container{
    width: 75%;
    margin: 3% auto;
    display: flex;
}


.sign{
    height: 100%;
    width: 100%;
    height: auto;
}

.sign p{
    text-align: center;
    font-size: 17px;
}

input{
    width: 90%;
    padding: 1rem 0.2rem;
    margin-bottom: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid purple;
    background: transparent;
    
}

.sign button{
    width: 100%;
    margin-bottom: 0.9rem;
    padding: 0.7rem;
    font-size: 15px;
}

.twitter, .face{
    text-align: left;
}

.placement{
    position: relative;
    background-image: url("../Images/flower.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.placement h1{
    font-size: 39px;
    margin-bottom: 1rem;
}

.placement div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.placement-over{
    padding: 3rem 1rem 4rem 1rem;
    background-color: white;

}

.placement-over i{
    font-size: 1.5rem;
}

.placement-over button{
    background: linear-gradient(90deg, purple, rgb(182, 5, 182), rgb(228, 20, 183), rgb(226, 38, 138));
    border: none;
    color: white;
    letter-spacing: 0.2rem;
    margin-top: 0.5rem;
}

.placement-over h2{
    margin-bottom: 1.5rem;
    font-size: 32px;
}

.twitter{
    background: linear-gradient(90deg, rgb(23, 214, 228), cyan) !important;
}

.face{
    background: linear-gradient(90deg, rgb(9, 105, 201),rgb(84, 165, 247)) !important;
}

.pass{
    margin-bottom: 2.5rem;
}


@media only screen and (max-width: 913px){
     .sign-container{
         flex-direction: column;
     }

     .sign {
         width: 100%;
     }

     .placement{
        padding-top: 200px;
     }
}
